# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Temp2\BE12-Basics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
